.layout {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    @include flexGlobal();

    &.grid-list {
        .flex {
            padding: 4px;
        }
    }
}

.flex {
    box-sizing: border-box;
    flex: 1 1 auto;
    @include flexSize();
}
