.layout {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;

    &.wrap {
        flex-wrap: wrap;
    }

    @include flexAlign();
}

.flex {
    flex: 1 1 auto;

    &.lg-8 {
        flex-basis: 66%;
        flex-grow: 0;
    }
}
