.form {
    &-row {
        display: flex;
        flex-wrap: wrap;
        @include flexGlobal();
    }

    &-group {
        flex: 1 1 auto;

        @include flexSize();
    }

    &-full {
        width: 100%;
    }
}
