.form {
    &-row {
        display: flex;
        flex-wrap: wrap;
    }

    &-group {
        flex: 1 1 auto;

        @include flexAlign();
        @include flexSize();
    }

    &-full {
        width: 100%;
    }
}
