<div class="layout justify-center">
    <mat-card class="flex lg8 xl8">
        <mat-card-title class="text-center fw-t">
            Search Trello
        </mat-card-title>

        <mat-card-content>
            <div class="form-row">
                <div class="form-group lg12">
                    <mat-form-field class="form-full">
                        <mat-label>Boards</mat-label>
                        <mat-select [(value)]="form.board" (valueChange)="updateBoard()">
                            <mat-option *ngFor="let board of trelloBoards$ | async" [value]="board.id">
                                {{ board.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-row justify-space-between">
                <div class="form-group lg3">
                    <mat-form-field class="form-full">
                        <input type="text" (blur)="updateSearch($event)" (keydown)="updateSearch($event)" matInput placeholder="Search by name" [(ngModel)]="form.search">
                    </mat-form-field>
                </div>

                <div class="form-group lg4">
                    <mat-form-field class="form-full">
                        <mat-label>Lists</mat-label>
                        <mat-select [(value)]="form.list" (valueChange)="updateList()">
                            <mat-option *ngFor="let list of trelloLists$ | async" [value]="list.id">
                                {{ list.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group lg4">
                    <mat-form-field class="form-full">
                        <mat-label>Labels</mat-label>
                        <mat-select [(value)]="form.label" (valueChange)="updateLabel()">
                            <mat-option *ngFor="let label of trelloLabels$ | async" [value]="label.id">
                                {{ label.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
