<app-search></app-search>

<div class="layout justify-center" style="margin-top: 65px;">
    <div class="flex lg8 xl8">
        <div class="text-center">
            <!-- if selected board value is empty -->
            <div>
                Select board to display cards
            </div>

            <!-- if selected board value is NOT empty and there are no cards -->
            <div>
                <!-- if state is not loading -->
                <div>
                    This board has no cards
                </div>

                <!-- if state is loading -->
                <div v-if="isLoading">
                    <p>Trello cards are loading...</p>

                    <mat-progress-spinner
                        style="display: inline-block;"
                        diameter="50"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>

        <!-- if selected board value is not empty and there are cards -->
        <div>
            <h2 class="text-center">Showing 1000 Cards</h2>

            <div class="layout grid-list justify-space-evenly wrap">
                <div class="flex lg4 xl4">
                    <mat-card>hello</mat-card>
                </div>

                <div class="flex lg4 xl4">
                    <mat-card>hello</mat-card>
                </div>

                <div class="flex lg4 xl4">
                    <mat-card>hello</mat-card>
                </div>

                <div class="flex lg4 xl4">
                    <mat-card>hello</mat-card>
                </div>

                <div class="flex lg4 xl4">
                    <mat-card>hello</mat-card>
                </div>

                <div class="flex lg4 xl4">
                    <mat-card>hello</mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
